main{
    background-color: #fff7e1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    background-color: #fff7e1;
    height: 100vh;
    width: 100vw;
}

.projectContainer{
  overflow-y: scroll;
}

.flex-grid {
    display: flex;
  }
  .col {
    flex: 1;
  }

  @media (max-width: 400px) {
    .flex-grid {
      display: block;
    }
}

.one{
    border-bottom: solid 1px black;
    border-left: solid 1px black;
    padding-left: 20px;
    padding-right: 20px;
}

.col2{
    border-left: solid 1px black;
    border-bottom: solid 1px black;
    flex-direction: column;
    justify-content: center;
}

/* .col2:last-of-type{

} */

.col2 img{
    width: 330px;
    height: auto
}

.aboutHeaderHori{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color:#e43d19;
    color: #fff7e1;
    text-transform: uppercase;
}

.aboutHeaderHori a{
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
    color: #fff7e1;
    text-shadow:
    3px 3px 0 #000,
  -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000; 
}

.aboutHeaderHori a:hover{
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: none;
  color: #fff7e1;
  text-shadow:
  1px 4px 0 #000,
  2px 1px 0 #000,  
  1px -1px 0 #000,
 -1px 1px 0 #000,
  1px 1px 0 #000; 
}